POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=novolar
POSTGRES_USER=novolar
POSTGRES_PASSWORD=change-me
POSTGRES_SSL=false

LOCAL_UID=
LOCAL_GID=

JWT_SECRET=
JWT_EXPIRES_IN=

ADMIN_EMAIL=
ADMIN_PASSWORD=