.require-auth-status {
  width: 100%;

  min-height: 100vh;

  margin: 0;
  padding: 96px 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7D7D7D;

  background: #F7F7F7;
}

/* Tablet */

@media (max-width: 768px) {
  .require-auth-status {
    padding: 64px 24px;
  }
}

/* Mobile */

@media (max-width: 600px) {
  .require-auth-status {
    padding: 64px 16px;
  }
}
